@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles*/
.display-flex {
  display: flex;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-weight: bold;
  font-size: 45px;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
/* dark-01 */
.text-dark {
  color: #131313;
}
/* dark-02 */
.text-gray {
  color: #424242;
}
/* dark-03 */
.text-gray-light {
  color: #727272;
}
/* header styles */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* navbar related styles*/
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-left: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.brand {
  font-weight: bold;
  font-size: 3rem;
}
.navbar,
.banner {
  max-width: 1040px;
  margin: 0 auto;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}
.banner-img {
  width: 100%;
}
.banner-taitle {
  font-weight: bold;
  font-size: 64px;
}
.teams {
  align-items: center;
}
.team-img-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.our-features {
  margin-left: 130px;
  max-width: 530px;
}
.features-title {
  font-weight: bold;
}
.features-description {
  margin: 20px 0px 32px 0px;
}
#quick-list {
  font-weight: 500;
  font-size: 2.8rem;
}
#of-our {
  font-size: 2.8rem;
}
#features {
  font-size: 2.8rem;
  color: #ff900e;
}
.feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .section-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features {
  gap: 50px;
}
.facts-description {
  max-width: 540px;
  margin-bottom: 100px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name {
  font-weight: 600px;
  font-size: 1.25rem;
  margin-top: 10px;
}
.sponsors-info {
  text-align: center;
}
.sponsor-description {
  width: 540px;
  margin: 0 auto;
  margin-top: 40px;
}
.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  filter: grayscale(100%);
}
footer {
  width: 850px;
  height: 500px;
}
.footer-description {
  background-color: #fff4e7;
  margin: 0 auto;
  text-align: center;
  padding: 35px 40px;
}
/* responsive related style */
/* small size device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 25px;
  }
  .team-img-container,
  .facts-container,
  .sponsor-img {
    grid-template-columns: 1fr;
  }
  .facts-container,
  .sponsor-img {
    justify-items: center;
    gap: 24px;
  }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 50px;
  }
  .sponsor-img {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
